//
// To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//
$primary: #19315e;
$primary-active: rgba(#19315e, 0.75);
$primary-clarity: rgba(#19315e, 0.2);

$danger: #dc1c16;
$danger-active: rgba(#dc1c16, 0.75);
$danger-clarity: rgba(#dc1c16, 0.2);

$checkBlue: #6898d9;
$star: #ffbd12;

* {
  scrollbar-width: thin;
  scrollbar-color: var(--bs-scrollbar-hover-color) transparent;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.tags-label input[type="checkbox"]:checked ~ div {
  background-color: $checkBlue;
  color: white;
  border-color: transparent !important;
}

.rating label:hover .star-bg,
.rating label:hover ~ label .star-bg,
.rating input[type="radio"]:checked ~ label .star-bg {
  fill: $star;
}

textarea:focus-visible {
  outline: 0 !important;
  border-color: var(--bs-primary) !important;
}

// .table-responsive {
//     box-shadow: inset 2px 0 black;
// }